---
import LunchLayout from "@layouts/LunchLayout.astro";
import { getCollection } from "astro:content";
import euro from "@utils/euro";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("cocktails");
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout titleImage="img/lounge-open">
  <h1 class="my-8 flex justify-center text-4xl">{entry.data.title}</h1>

  <div class="my-4 flex justify-center text-sm sm:text-lg">
    <Content />
  </div>
  <p class="flex justify-center py-2 sm:text-xl">{euro.format(entry.data.price)}</p>
  <div class="flex flex-row items-center justify-center">
    <Picture src={entry.data.pic} alt={entry.data.title} />
  </div>
</Layout>
