---
import LunchLayout from "@layouts/LunchLayout.astro";
import { getCollection } from "astro:content";
import euro from "@utils/euro";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("cocktails");
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout titleImage="img/lounge-open">
  <h1 class="mx-2 my-4 text-4xl">{entry.data.title}</h1>
  <div class="my-4 flex w-full flex-row">
    <div class="mr-4 flex flex-row items-end rounded-md">
      <Picture src={entry.data.pic} alt={entry.data.title} width="800" class="rounded-xl" />
    </div>
    <div class="flex items-center">
      <div class="mx-4 flex text-sm sm:text-lg">
        <Content />
      </div>
      <div class="items-end">
        <span class="mb-2 inline-block rounded-full bg-blue-200 px-10 py-1 font-semibold text-blue-700"
          >{euro.format(entry.data.price)}</span
        >
      </div>
    </div>
  </div>
</Layout>
