---
import LunchLayout from "@layouts/LunchLayout.astro";
import { getCollection } from "astro:content";
import euro from "@utils/euro";

export async function getStaticPaths() {
  const entries = await getCollection("meals");
  return entries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<LunchLayout frontmatter={entry.data}>
  <Content />
  <p class="py-2">{euro.format(entry.data.price)}</p>
</LunchLayout>
