---
import Layout from "@layouts/Layout.astro";
const title = "Kontakt";
const activeNav = "contact";
---

<Layout>
  <section>
    <h1 class="mr-2">
      {title}
    </h1>
    <p>Kontakt</p>
  </section>
</Layout>
