---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="privacy-policy m-auto my-4 max-w-3xl p-8">
    <h1>Datenschutzerklärung</h1>
    <p>
      Ihre Privatsphäre ist uns wichtig. Es ist unsere Politik, Ihre Privatsphäre in Bezug auf alle Informationen, die
      wir von Ihnen über unsere Website sammeln könnten, zu respektieren.
    </p>

    <h2>Informationen, die wir sammeln</h2>
    <p>
      Wir fragen nur dann nach persönlichen Informationen, wenn wir sie wirklich benötigen, um Ihnen einen Service zu
      bieten. Wir sammeln sie auf faire und gesetzliche Weise, mit Ihrem Wissen und Ihrer Zustimmung.
    </p>

    <h2>Wie wir Ihre Informationen verwenden</h2>
    <p>
      Wir verwenden Ihre persönlichen Informationen nur, um Ihnen Informationen oder Dienstleistungen zur Verfügung zu
      stellen, die Sie angefordert haben.
    </p>

    <h2>Änderungen der Datenschutzerklärung</h2>
    <p>
      Wir können unsere Datenschutzerklärung von Zeit zu Zeit aktualisieren, um Änderungen unserer Praktiken oder aus
      anderen betrieblichen, rechtlichen oder regulatorischen Gründen widerzuspiegeln.
    </p>
  </div>
</Layout>
<style>
  h1,
  h2 {
    @apply mb-2 text-center text-2xl font-bold text-blue-950;
  }
  p {
    @apply mb-4;
  }
</style>
