---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section>
    <h1>Willkommen im Restaurant Rhodos!</h1>
    <p>
      Entdecken Sie den Charme Griechenlands direkt an der B42. Unser gemütliches Restaurant Rhodos bietet Ihnen nicht
      nur einen großen Parkplatz, sondern auch eine herzliche, familiäre Atmosphäre. Genießen Sie authentische
      griechische Küche zu einem fairen Preis-Leistungsverhältnis und lassen Sie sich von unseren speziellen Cocktails
      in der Lounge verwöhnen. Für Unterhaltung ist ebenfalls gesorgt: Regelmäßige Live-Events machen jeden Besuch zu
      einem Erlebnis. Zudem bieten wir die perfekte Location für Feierlichkeiten in größeren Gruppen. Wir freuen uns auf
      Ihren Besuch!
    </p>
  </section>

  <section>
    <h2>Entdecken Sie den Geschmack Griechenlands</h2>
    <p>
      In Weiterstadt erwartet Sie das Restaurant Rhodos – ein Ort, an dem traditionelle Gastfreundschaft auf
      zeitgenössischen Genuss trifft.
    </p>
    <p>
      Erleben Sie eine kulinarische Reise mit unserer vielfältigen Speisekarte, die von frischen, lokal bezogenen
      Zutaten inspiriert ist. Unsere Spezialitäten umfassen:
    </p>

    <ul class="my-4 list-inside list-disc">
      <li>Herzhafte Meze</li>
      <li>Frisch gegrilltes Fleisch</li>
      <li>Delikate Fischspezialitäten</li>
      <li>Ausgewählte vegetarische Optionen</li>
    </ul>
    <p>
      Genießen Sie unsere Gerichte in einem gemütlichen Ambiente, begleitet von einem aufmerksamen Service, der Sie
      begeistern wird.
    </p>
  </section>
</Layout>
