---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section>
    <div class="flex items-center justify-center">
      <h1>Willkommen im Restaurant Rhodos!</h1>
    </div>
    <div>
      <p>
        Entdecken Sie den Charme Griechenlands direkt an der B42. Unser gemütliches Restaurant Rhodos bietet Ihnen nicht
        nur einen großen Parkplatz, sondern auch eine herzliche, familiäre Atmosphäre. Genießen Sie authentische
        griechische Küche zu einem fairen Preis-Leistungsverhältnis und lassen Sie sich von unseren speziellen Cocktails
        in der Lounge verwöhnen. Für Unterhaltung ist ebenfalls gesorgt: Regelmäßige Live-Events machen jeden Besuch zu
        einem Erlebnis. Zudem bieten wir die perfekte Location für Feierlichkeiten in größeren Gruppen. Wir freuen uns
        auf Ihren Besuch!
      </p>
    </div>
  </section>

  <section>
    <div class="flex flex-col items-center sm:flex-row">
      <div class="m-auto mr-10 w-64 rounded-lg shadow-xl">
        <img src="/img/statue-512.avif" width="256" height="256" alt="Statue" />
      </div>
      <div>
        <h2>Entdecken Sie den Geschmack Griechenlands</h2>
        <p class="text-lg">
          In Weiterstadt erwartet Sie das <strong>Restaurant Rhodos</strong> – ein Ort, an dem traditionelle
          Gastfreundschaft auf zeitgenössischen Genuss trifft.
        </p>
        <p class="my-2 text-lg">
          Erleben Sie eine kulinarische Reise mit unserer vielfältigen Speisekarte, die von frischen, lokal bezogenen
          Zutaten inspiriert ist. Unsere Spezialitäten umfassen:
        </p>
        <ul class="my-4 list-inside list-disc">
          <li>Herzhafte Meze</li>
          <li>Frisch gegrilltes Fleisch</li>
          <li>Delikate Fischspezialitäten</li>
          <li>Ausgewählte vegetarische Optionen</li>
        </ul>
        <p class="text-lg">
          Genießen Sie unsere Gerichte in einem <strong>gemütlichen Ambiente</strong>, begleitet von einem aufmerksamen
          Service, der Sie begeistern wird.
        </p>
      </div>
    </div>
  </section>
</Layout>
