---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Cocktail from "@components/Cocktail.astro";
import Carousel from "@components/Carousel.astro";
import CarouselLayout from "@layouts/CarouselLayout.astro";
import Sliders from "@components/Sliders.astro";
const cocktails = await getCollection("cocktails");
const pictures = await getCollection("lounge");
---

<Layout titleImage="none">
  <section>
    <h1>Rhodos Lounge</h1>
    <p>
      Die Kellerbar im Restaurant Rhodos, liebevoll geführt von Andreas, dem Sohn von Giulia und Taki, bietet ein
      einzigartiges Erlebnis für Liebhaber von Cocktails und entspannter Atmosphäre. Unsere sorgfältig kuratierte
      Cocktailkarte, die Billardtische, Dart und das gemütliche Ambiente machen die Kellerbar zu einem beliebten
      Treffpunkt.
    </p>
  </section>

  <CarouselLayout mode="slide">
    <!-- Carousel wrapper -->
    <div class="relative z-0 mb-8 h-64 w-full overflow-hidden rounded-lg sm:h-96">
      {pictures.map(picture => <Carousel {picture} />)}
    </div>
    <!-- Slider indicators -->
    <div class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse">
      <Sliders num={pictures.length} />
    </div>
  </CarouselLayout>

  <section>
    <h2>Unsere Attraktionen</h2>
    <ul class="list-inside list-disc">
      <li>
        Vielfältige Cocktailauswahl: Unsere Barkeeper zaubern klassische und innovative Cocktails, die jeden Gaumen
        erfreuen.
      </li>
      <li>Billard und Dart: Fordern Sie Ihre Freunde zu einer Runde Billard oder Dart heraus.</li>
      <li>Entspanntes Ambiente: Mit bequemen Sitzgelegenheiten und einer warmen Beleuchtung.</li>
    </ul>
  </section>

  <section>
    <h2>Unsere Cocktails - Mit ❤️ zubereitet.</h2>
    <div class="grid-cols mb-4 grid gap-8 py-4 sm:grid-cols-4">
      {cocktails.map(cocktail => <Cocktail {cocktail} />)}
    </div>
  </section>

  <section>
    <h2>Öffnungszeiten der Lounge:</h2>
    <p class="mb-1">Sonntag bis Donnerstag: 18:00 - 00:00 Uhr</p>
    <p class="mb-1">Freitag und Samstag: 18:00 - 03:00 Uhr</p>
    <p class="mb-1">Montag: geschlossen</p>
  </section>
</Layout>
