---
import { getCollection } from "astro:content";
import Lunch from "@components/Lunch.astro";
import SingleMenu from "@layouts/SingleMenuLayout.astro";
const title = "Mittagskarte:";
const meals = await getCollection("lunch");
const coll = "lunch";
const current = "/lunch";
---

<SingleMenu {title} {current}>
  {meals.map(meal => <Lunch {meal} {coll} />)}
  <div class="text-center text-xl">Guten Appetit!</div>
</SingleMenu>
