---
import Layout from "@layouts/Layout.astro";
const title = "Weinkarte";
const current = "/wine";
---

<Layout {title} {current}>
  <section>
    <h1 class="mr-2">
      {title}
    </h1>
    <p>Dies ist die Weinkarte.</p>
  </section>
</Layout>
