---
import { getEntry } from "astro:content";
import euro from "../utils/euro";

export interface Props {
  cocktail: {
    data: {
      title: string;
      price: number;
    };
    slug: string;
  };
}

const { cocktail } = Astro.props;
const entry = await getEntry("cocktails", cocktail.slug);
const { Content } = await entry.render();
---

<li class="mb-5">
  <div class="flex w-full justify-items-start">
    <div class="px-2 text-lg">
      <span>{cocktail.slug.toUpperCase()}.</span>
    </div>
    <div class="flex w-full">
      <div class="flex-auto">
        <div class="hover:text-skin-accent w-full flex-1 text-lg">
          <a href={`/cocktails/${cocktail.slug}/`}> {cocktail.data.title}</a>
        </div>
        <div>
          <Content />
        </div>
      </div>
      <div>
        <span class="text-lg">{euro.format(cocktail.data.price)}</span>
      </div>
    </div>
  </div>
</li>
