---
import { SITE } from "@config";
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import TitleImage from "../assets/images/title-page.jpg";
import Logo from "../assets/images/logo.png";

export interface Props {
  current: string;
}

const { current } = Astro.props;
---

<header class="mx-auto w-full max-w-6xl">
  <div class="header__inner rounded-t-lg bg-gradient-to-r from-blue-100 to-blue-600">
    <a class="header__logo mx-2 flex items-center justify-center space-x-2" href="/">
      <img
        src="https://rhodos-weiterstadt.de/cdn-cgi/image/f=auto,width=48/assets/images/logo.png"
        ;
        alt="Griechische Fahne"
        width="48"
        height="48"
      />
      <p>{SITE.title}</p>
    </a>
    <div class="header__navigation flex justify-center">
      <Navigation {current} />
    </div>
  </div>
  <div class="mx-auto flex items-center justify-center">
    <div class="relative flex max-w-6xl">
      <img
        src="https://rhodos-weiterstadt.de/cdn-cgi/image/f=auto,width=1152/assets/images/title-page.jpg"
        alt="Willkommen im Restaurant Rhodos!"
        width="1152"
        height="239"
      />
    </div>
  </div>
</header>
