---
import NavBar from "./NavBar.astro";

export interface Props {
  current: string;
}
const current = Astro.props.current;
const check_active = (path: string) => {
  if (current === path) {
    return "underline";
  }
  return "";
};
---

<NavBar {current} />

<!-- Titlebar -->
<div class="mx-auto flex items-center justify-center">
  <img src="/img/titlebar-2048.avif" alt="Willkommen im Restaurant Rhodos" width="1280" />
</div>
