---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const { href, ariaLabel, title, disabled = false } = Astro.props;
---

<a
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class="mx-2 mt-2 inline-block h-6 w-6
    fill-transparent stroke-current stroke-2 opacity-90
    hover:scale-150 hover:text-blue-200"
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
>
  <slot />
</a>
