---
export interface Props {
  item: {
    title: string;
    url: string;
  };
}

const { item } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
---

<li class="flex justify-center text-blue-800">
  <a href={item.url} class={item.url == pathname ? "underline" : ""}>
    {item.title}
  </a>
</li>
