---
import { isExternalModuleNameRelative } from "typescript";
export interface Props {
  item:
    | {
        title: string;
        url: string;
        activeNav: boolean;
      }
    | undefined;
}

const { item } = Astro.props;
---

<li>
  <a href={item?.url} class={item?.activeNav ? "active" : ""}>
    {item?.title}
  </a>
</li>
