---
export interface Props {
  item: {
    title: string;
    url: string;
  };
  current: string;
}
const { item, current } = Astro.props;
const pathname = Astro.url.pathname;
---

<li>
  <a href={item.url} class={pathname == item.url ? "underline" : ""}>
    {item.title}
  </a>
</li>
