---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from "astro-navbar";

export interface Props {
  current: string;
}
const current = Astro.props.current;
const check_active = (path: string) => {
  if (current === path) {
    return "underline";
  }
  return "";
};
---

<header class="items-center gap-5 bg-gradient-to-r from-blue-50 to-blue-600 p-3 lg:flex">
  <Astronav>
    <div class="flex w-full items-center justify-between">
      <div class="items-center pt-2 lg:pt-0">
        <a class="header__logo m-2 flex items-center space-x-2 lg:justify-start" href="/">
          <img src="/img/Flag_of_Greece.svg" alt="Griechische Fahne" width="48" height="32" />
          <p>Restaurant Rhodos</p></a
        >
      </div>

      <div class="block lg:hidden">
        <MenuIcon class="h-8 w-8 text-blue-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex lg:text-blue-200">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li><a href="/" class={check_active("/")}>Home</a></li>
        <li><a href="/lunch" class={check_active("/lunch")}>Mittagskarte</a></li>

        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span> Speisekarte</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="mt-0.5 h-3 w-3 group-open:rotate-180"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative w-full">
              <div class="absolute top-0 bg-blue-800 px-4 py-2 text-blue-200">
                <ul>
                  <li><a href="/soups" class={check_active("/soups")}>Suppen</a></li>
                  <li><a href="/starters" class={check_active("/starters")}>Vorspeisen</a></li>
                  <li><a href="/fish" class={check_active("/fish")}>Fisch&nbsp;Spezialitäten</a></li>
                  <li><a href="/cheese" class={check_active("/cheese")}>Käse&nbsp;Spezialitäten</a></li>
                  <li><a href="/salads" class={check_active("/salads")}>Salate</a></li>
                  <li><a href="/gyros" class={check_active("/gyros")}>Drehspieß&nbsp;Spezialitäten</a></li>
                  <li><a href="/grill" class={check_active("/grill")}>Grill&nbsp;Spezialitäten</a></li>
                  <li><a href="/rumpsteak" class={check_active("/rumpstaek")}>Argentinisches&nbsp;Rumpsteak</a></li>
                  <li><a href="/grill-plates" class={check_active("/grill-plates")}>Grillplatten</a></li>
                  <li><a href="/oven" class={check_active("/oven")}>Aus&nbsp;dem&nbsp;Steinofen</a></li>
                  <li><a href="/veggie" class={check_active("/veggie")}>Vegetarische&nbsp;Gerichte</a></li>
                  <li><a href="/fish-plates" class={check_active("/fish-plates")}>Fischgerichte</a></li>
                  <li><a href="/schnitzel" class={check_active("/schnitzel")}>Schnitzel</a></li>
                  <li><a href="/kids" class={check_active("/kids")}>Für&nbsp;unsere&nbsp;kleinen&nbsp;Gäste</a></li>
                  <li><a href="/extra" class={check_active("/extra")}>Extra&nbsp;Beilagen</a></li>
                  <li><a href="/desserts" class={check_active("/desserts")}>Desserts</a></li>
                  <li><a href="/ice" class={check_active("/ice")}>Eis</a></li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li><a href="/drinks" class={check_active("/drinks")}>Getränke</a></li>
        <li><a href="/wine" class={check_active("/wine")}>Weine</a></li>
        <li><a href="/contact" class={check_active("/contact")}>Kontakt</a></li>
        <li><a href="/about" class={check_active("/about")}>Über&nbsp;uns</a></li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
