---
import { SITE } from "@config";
import Layout from "./Layout.astro";
export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <section id="about">
    <h1>{frontmatter.title}</h1>
    <slot />
  </section>
</Layout>
