---
import { SITE } from "@config";
import "@styles/base.css";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { ViewTransitions, fade } from "astro:transitions";

export interface Props {
  title?: string;
  titleImage?: string;
}

const { title = SITE.title, titleImage } = Astro.props;
---

<!doctype html>
<html lang="de-DE" id="root" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/svg" sizes="32x32" href="/img/Flag_of_Greece.svg" />
    <link rel="icon" type="image/svg" sizes="16x16" href="/img/Flag_of_Greece.svg" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Dies ist die Website des Restaurants Rhodos in Weiterstadt" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>

  <body>
    <div class="flex h-screen flex-col justify-between">
      <div class="h-100">
        <Header {titleImage} />
      </div>
      <div class="mb-auto">
        <main transition:animate={fade({ duration: ".5s" })}>
          <slot />
        </main>
      </div>
      <div class="mb-h-50">
        <Footer />
      </div>
    </div>
    <script>
      document.documentElement.classList.remove("no-js");
      document.documentElement.classList.add("js");
    </script>
  </body>
</html>
